:root {
  /* Base font size */
  font-size: 10px;
  
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

h1 {
  font-size: 5rem;
  font-weight: 20;
  font-style: bold;
  color: #ffdfdf;
  text-transform: uppercase;
  /* https://codepen.io/GeorgePark/pen/MrjbEr */
  text-shadow:
    -0.2rem -0.2rem 1rem #ff4107,
    0.2rem 0.2rem 1rem #ff4107,
    0 0 2rem var(--neon-text-color);
}
h1::-moz-selection {
  color: var(--neon-text-color);
}

h1::selection {
  color: var(--neon-text-color);
}

h2 {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
  color: #000000;
}